body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-variant-caps: all-petite-caps;
  background-image: url(Bull_And_Matador.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto 2110px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: gray;
}

a:active {
  color: gray;
  text-decoration: underline;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#stock-form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

#top-logo {
  height: 50px;
  width: 50px;
}

.containerR {
  display: flex;
  justify-content: right;
  align-items: center;
}

.containerC {
  display: flex;
  direction: column;
}

.whiteSpace {
  color: white;
  opacity: 0;
}

#invisible {
  background-color: white;
  color: white;
  border: 0px;
  height: 0px;
  width: 0px;
}

#transactionTable {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: left;
  width: 500px;
  padding-top: 2em;
  padding-bottom: 2em;
}

.transactionSegment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transactionRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator {
  font-weight: lighter;
  margin-left: 10px;
  margin-right: 10px;
}

.portfolioContainer {
  display: flex;
  justify-content: left;
  color: white;
}

.gray {
  color: gray;
}
.gray:hover {
  color: white;
}
.red {
  color: darkred;
}
.red:hover {
  color: white;
}
.green {
  color: darkgreen;
}
.green:hover {
  color: white;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
